/* ---------- RULES ---------- */

header, footer, aside, nav {
  background-color: orange;
}

html {
  font-size: 14px;
  font-family: Helvetica;
}

header, footer {
  text-align: center;
}

/* ---------- SPECIFICITY ---------- */

.header {
  font-size: 46px;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.navigation {
  font-size: 12px;
}

.sidebar {
  font-size: 10px;
}

[class$="r"] {
  background-color: magenta;
}

[class*="a"]:not([class$="r"]) {
  background-color: blue;
}

body {
  font-weight: bold;
}

.oh-no-inline-styles {
  background: green !important;
}

/* ---------- BOX MODEL ---------- */

.header {
  margin: 5px;
}

.navigation {
  box-sizing: border-box;
  width: 15%;

  margin: 5px;

  padding: 10px;
}

.navigation ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.navigation ul li {
  font-size: 20px;
  margin: 5px;
}

.content {
  box-sizing: border-box;
  width: 60%;

  margin: 5px;
  
  border: 2px;
  border-style: double;

  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.sidebar {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  color: lightblue;
  background-color: grey;
  width: 20%;

  margin: 5px;

  padding: 10px;
}

.footer {
  margin: 5px;
}

/* ---------- LAYOUT ---------- */

.navigation, .content, .sidebar {
  display: inline-block;
}
